---
const { id,name,desc} = Astro.props
---
<style>
.contributor-card p,.contributor-card div{
margin-top: 0rem!important;
}
.contributor-card{
margin-top: 1rem!important;
}
@media screen and (max-width: 768px) {
    .contributor-card {
        width: 100%!important;
    }

}


.contributor-card a {
    font-size: var(--sl-text-h3);
    color: inherit;
}
</style>
<div class="flex align-middle flex-row w-1/2 items-center contributor-card " data-id={id}>
<img src=`https://github.com/${id}.png?size=100` class="w-12 h-12 rounded-full mr-4" style="height: 3rem;">
<div class="flex flex-col">
<a class="text-lg font-semibold text-gray-900 -mt-1 no-underline" href=`https://github.com/${id}`>{name}</h2>
<p class="text-sm text-gray-600 -mt-1">{desc}</p>

</div>

</div>


